.box{
    width:300px;
    height: 200px;
    margin: 100px auto;
    overflow: hidden;
}
.img-g{
    width: 1500px;
    height: 200px;
    position: relative;
    left: -100px;
}
.img-g img{
    width: 300px;
    height: 200px;
}